@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Cantarell, system-ui, sans-serif;
    }
}

.wrapper {
    border: 3px solid blue;
}
  
.container {
    background-color: pink;
}
  
.barCompleted {
    background-color: lightblue;
    width: 80%;
}
  
.label {
    font-size: 20px;
    color: green;
}